<footer class="contenedorFooter">
    <div class="contenedorImagenFT">
        <img src="../../assets/TeslaLogo.png" alt="Error al cargar la imagen">
    </div>
    <div class="contenedorInfo">
        <div class="elemento">
            Nosotros
            <a href=""><img src="../../assets/github.png" alt="Error al cargar la imagen"></a>
        </div>
        <div class="elemento">
            Información Legal
            <a href=""><img src="../../assets/gmail.png" alt="Error al cargar la imagen"></a>
        </div>
        <div class="elemento">
            Políticas de Privacidad
            <a href=""><img src="../../assets/instagram.png" alt="Error al cargar la imagen"></a>
        </div>
        <div class="elemento">
            Nuestras redes sociales
            <a href=""><img src="../../assets/linkedin.png" alt="Error al cargar la imagen"></a>
        </div>
    </div>


</footer>
