.contenedorTitulo{
    text-align: center;
    margin-bottom: 5em;
    transition: 2s;
    color: var(--fucsia);
}

.contenedorContacto{
    display: flex;
    justify-content: space-around;
    margin-bottom: 5em;
}
.contenedorHorario, .contenedorTelefono{
    width: 20%;
    padding: 2em;
    border-radius: 10px;
    border: 3px inset var(--fucsia);
    transition: 2s;
}
.contenedorHorario:hover, .contenedorTelefono:hover{
    scale: 1.2;
    transition: 2s;
}

.contenedorHorario p span, .contenedorTelefono p span{
    font-size: 20px;
    font-weight: bold;
    color: var(--fucsia)
}
.contenedorFormulario{

    display: flex;
    justify-content: center;
}
.contenedorFormulario form{
    width: 600px;
    border: 2px outset var(--fucsia);
    border-radius: 10px;
    margin-bottom: 3em;
    font-size: 18px;
}

.contenedorFormulario .contenedorDescripcion{

    padding: 2em;
    text-align: center;
    background-color: var(--fucsia);
    color: var(--blanco);
}
.contenedorFormulario .contenedorGrupo label{
    width: 150px;
    text-align: justify;
    margin-right: 30px;
}
.contenedorGrupo {
    margin: 1em;
    box-sizing: border-box;
    text-align: center;
}
.contenedorGrupo button{
    border-radius: 10px;
    padding: 10px;
    width: 50%;
    text-decoration: none;
    border-color: var(--fucsia);
    transition: 2s;
    font-weight: bold;
    color: var(--fucsia);

}
.contenedorGrupo button:hover{
    transition: 2s;
    background-color: var(--fucsia);
    color: var(--blanco);
}

