<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ayuda/PQR</title>
</head>
<body>
    <div class="contenedorTitulo">
        <h1>HORARIO DE ATENCIÓN</h1>
    </div>
    <div class="contenedorContacto">
        <div class="contenedorHorario">

            <p><span>Lunes a Viernes</span></p>
            <p>8:00 am - 5:00pm</p>
            <p><span>Sabados</span></p>
            <p>8:00 am - 12:00 pm </p>
        </div>
        <div class="contenedorTelefono">
            <p><span>Lineas de atención</span></p>
            <p><span>Bogotá:</span> 601 738 4025</p>
            <p><span>Resto del país:</span> 01 8000 180 764</p>
        </div>
    </div>
    <div class="contenedorFormulario">
        <form action="">
            <div class="contenedorDescripcion">
                Diligencia los siguientes datos y un asesor se comunicará pronto contigo
            </div>
            <div class="contenedorGrupo">
                <label for="inputNombres">Nombres</label>
                <input type="text" name="inputNombres" id="">
            </div>

            <div class="contenedorGrupo">
                <label for="inputCorreo">Correo electrónico</label>
                <input type="email" name="inputCorreo" id="">
            </div>
            <div class="contenedorGrupo">
                <label for="inputCelular">Celular</label>
                <input type="text" name="inputCelular" id="">
            </div>
            <div class="contenedorGrupo">
                <p>Cuentanos la situación</p>
                <textarea name="inputDescripcion" id="" cols="50" rows="10"></textarea>
            </div>
            <div class="contenedorGrupo">
                <button type="submit">Enviar</button>
            </div>

        </form>

    </div>

</body>
</html>
