

<div class="contenedorFiltro">
    <div class="tituloFiltro">
        <p>FILTRO DE BUSQUEDA</p>
    </div>

    <form action="">
        <div class="grupoFiltro">
            <label for="selectDepartamento">Departamento</label>
            <select name="selectDepartamento" id="">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
            </select>
        </div>
        <div class="grupoFiltro">
            <label for="selectMunicipio">Municipio</label>
            <select name="selectMunicipio" id="">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
            </select>
        </div>

        <div class="grupoFiltro">
            <label for="selectMarca">Marca</label>
            <select name="selectMarca" id="">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
            </select>
        </div>

        <div class="grupoFiltro">
            <label for="selectModelo">Modelo</label>
            <select name="selectModelo" id="">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
            </select>
        </div>
        <hr>
        <div class="tituloRango">
            <p>RANGO DE PRECIOS</p>
        </div>


        <div class="grupoFiltro">
            <label for="RangoInicial">Rango Inicial</label>
            <input type="number" name="RangoInicial" id="">
        </div>
        <div class="grupoFiltro">
            <label for="RangoFinal">Rango Final</label>
            <input type="number" name="RangoFinal" id="">
        </div>

        <div class="contenedorEnviar">
            <button type="submit">Buscar</button>
        </div>
    </form>
</div>

