<div class="contenedorFormulario">
    <form action="">
        <div class="contenedorTitulo">
            <p>FILTRO DE BUSQUEDA</p>
        </div>
        <div class="contenedorPrincipal">
            <div class="grupoFiltro">
                <label for="inputDept">Departamento </label>
                <select name="inputDept" id="">
                    <option value="">1</option>
                    <option value="">2</option>
                    <option value="">3</option>
                </select>
            </div>
            <div class="grupoFiltro">
                <label for="inputMunc">Municipio </label>
                <div class="prueba">
                    <select name="inputMunc" id="">
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                    </select>
                </div>

            </div>
            <div class="grupoFiltro">
                <label for="inputModelo">Modelo </label>
                <select name="inputModelo" id="">
                    <option value="">Modelo 1</option>
                    <option value="">Modelo 2</option>
                    <option value="">Modelo 3</option>
                </select>
            </div>
            <div class="grupoFiltro">

                <label for="inputColor">Color </label>
                <select name="inputColor" id="">
                    <option value="">Rojo</option>
                    <option value="">Negro</option>
                    <option value="">Azul</option>
                </select>
            </div>
            <div class="grupoFiltroBoton">
                <div class="contenedorBoton">
                    <form class="d-flex" role="search" >
                        <!-- SE AGREGA NG MODEL Y EL EVENTO QUE SE EMITE  -->
                        <input class="form-control me-2" name="busqueda" type="text" placeholder="Ingresa tu busqueda" aria-label="Search" [(ngModel)]="valorIngresado" (ngModelChange)="search.emit(valorIngresado)">
                    </form>
                </div>

            </div>
        </div>
    </form>
</div>
