.contenedorFormulario{
    text-align: center;
}
.contenedorTitulo{
    background-color: var(--fucsia);
    color: var(--blanco);
    padding: 5px;
    font-size: 30px;
    margin: 10px 10px 0px 10px;
}
.contenedorPrincipal{
    margin: 2px 10px 10px 10px;
    display: flex;
    justify-content: space-around;
    background-color: var(--gris);
}
.contenedorPrincipal .grupoFiltro{
    width: 250px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 20px;
    color: var(--fucsia);
    font-weight: bold;
}
.grupoFiltro label{
    margin-right: 15px;
}

.grupoFiltroBoton{
    width: 250px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}
.grupoFiltroBoton .contenedorBoton button{
    border-style: none;
    width: 100%;
    background-color: var(--fucsia);
    padding: 15px;
    color: var(--blanco);
    border: 3px inset var(--fucsia);
    border-radius: 5px;
    font-weight: bold;
    transition: 2s;
}
.d-flex{
    font-size: 20px;
}
.d-flex .me-2{
    height: 50px;
    font-size: 20px;
    color: var(--fucsia);
}