<!--REDIRECCION A COMPONENTE HEADER-->
<!-- <app-header></app-header> -->
<!--REDIRECCION A COMPONENTE FILTER-NAV -->
<!-- <app-filter-nav></app-filter-nav> -->
<!--REDIRECCION A COMPONENTE CARD-->
<!-- <app-card></app-card> -->
<!-- REDIRECCION A COMPONENTE FOOTER -->
<!-- <app-footer></app-footer> -->

<router-outlet></router-outlet>
<app-footer></app-footer>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


