<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- MODELO S -->
    <div class="contenedorTitulo" *ngIf="serviceData === 'Tesla Modelo S'">
        {{ serviceData | uppercase }}
    </div>
    <div class="contenedorPrincipal" *ngIf="serviceData === 'Tesla Modelo S'">
        <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="contenedor" *ngFor="let md of serviceModel">
                    <div class="carousel-item active" >
                        <img src="../../assets/ta_models/{{md.imagen1}}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item " >
                        <img src="../../assets/ta_models/{{md.imagen2}}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item " >
                        <img src="../../assets/ta_models/{{md.imagen3}}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item " >
                        <img src="../../assets/ta_models/{{md.imagen4}}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item " >
                        <img src="../../assets/ta_models/{{md.imagen5}}" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
    <!-- MODELO ROAD -->
    <div class="contenedorTitulo" *ngIf="serviceData === 'Tesla Modelo Roadster'">
        {{ serviceData | uppercase }}
    </div>
    <div class="contenedorPrincipal" *ngIf="serviceData === 'Tesla Modelo Roadster'">
        <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="contenedor" *ngFor="let md of serviceModel">
                    <div class="carousel-item active" >
                        <img src="../../assets/ta_models/{{md.imagen1}}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item " >
                        <img src="../../assets/ta_models/{{md.imagen2}}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item " >
                        <img src="../../assets/ta_models/{{md.imagen3}}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item " >
                        <img src="../../assets/ta_models/{{md.imagen4}}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item " >
                        <img src="../../assets/ta_models/{{md.imagen5}}" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
    <!-- MODELO CYBER -->
    <div class="contenedorTitulo" *ngIf="serviceData === 'Tesla Modelo CyberTruck'">
        {{ serviceData | uppercase }}
    </div>
    <div class="contenedorPrincipal" *ngIf="serviceData === 'Tesla Modelo CyberTruck'">
        <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="contenedor" *ngFor="let md of serviceModel">
                    <div class="carousel-item active" >
                        <img src="../../assets/ta_models/{{md.imagen1}}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item " >
                        <img src="../../assets/ta_models/{{md.imagen2}}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item " >
                        <img src="../../assets/ta_models/{{md.imagen3}}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item " >
                        <img src="../../assets/ta_models/{{md.imagen4}}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item " >
                        <img src="../../assets/ta_models/{{md.imagen5}}" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
    <!-- MODELO 3 -->
    <div class="contenedorTitulo" *ngIf="serviceData === 'Tesla Modelo 3'">
        {{ serviceData | uppercase }}
    </div>
    <div class="contenedorPrincipal" *ngIf="serviceData === 'Tesla Modelo 3'">

        <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="contenedor" *ngFor="let md of serviceModel">
                    <div class="carousel-item active" >
                        <img src="../../assets/ta_models/{{md.imagen1}}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item " >
                        <img src="../../assets/ta_models/{{md.imagen2}}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item " >
                        <img src="../../assets/ta_models/{{md.imagen3}}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item " >
                        <img src="../../assets/ta_models/{{md.imagen4}}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item " >
                        <img src="../../assets/ta_models/{{md.imagen5}}" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
    <!-- MODELO X -->
    <div class="contenedorTitulo" *ngIf="serviceData === 'Tesla Modelo X'">
        {{ serviceData | uppercase }}
    </div>
    <div class="contenedorPrincipal" *ngIf="serviceData === 'Tesla Modelo X'">
        <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="contenedor" *ngFor="let md of serviceModel">
                    <div class="carousel-item active" >
                        <img src="../../assets/ta_models/{{md.imagen1}}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item " >
                        <img src="../../assets/ta_models/{{md.imagen2}}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item " >
                        <img src="../../assets/ta_models/{{md.imagen3}}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item " >
                        <img src="../../assets/ta_models/{{md.imagen4}}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item " >
                        <img src="../../assets/ta_models/{{md.imagen5}}" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
    <!-- MODELO SEMI -->
    <div class="contenedorTitulo" *ngIf="serviceData === 'Tesla Modelo Semi Truck'">
        {{ serviceData | uppercase }}
    </div>
    <div class="contenedorPrincipal" *ngIf="serviceData === 'Tesla Modelo Semi Truck'">
        <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="contenedor" *ngFor="let md of serviceModel">
                    <div class="carousel-item active" >
                        <img src="../../assets/ta_models/{{md.imagen1}}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item " >
                        <img src="../../assets/ta_models/{{md.imagen2}}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item " >
                        <img src="../../assets/ta_models/{{md.imagen3}}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item " >
                        <img src="../../assets/ta_models/{{md.imagen4}}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item " >
                        <img src="../../assets/ta_models/{{md.imagen5}}" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
    <!-- MODELO Y -->
    <div class="contenedorTitulo" *ngIf="serviceData === 'Tesla Modelo Y'">
        {{ serviceData | uppercase }}
    </div>
    <div class="contenedorPrincipal" *ngIf="serviceData === 'Tesla Modelo Y'">
        <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="contenedor" *ngFor="let md of serviceModel">
                    <div class="carousel-item active" >
                        <img src="../../assets/ta_models/{{md.imagen1}}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item " >
                        <img src="../../assets/ta_models/{{md.imagen2}}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item " >
                        <img src="../../assets/ta_models/{{md.imagen3}}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item " >
                        <img src="../../assets/ta_models/{{md.imagen4}}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item " >
                        <img src="../../assets/ta_models/{{md.imagen5}}" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
    <!-- MODELO ESTACION -->
    <div class="contenedorTitulo" *ngIf="serviceData === 'Estación de carga'">
        {{ serviceData | uppercase }}
    </div>
    <div class="contenedorPrincipal" *ngIf="serviceData === 'Estación de carga'">
        <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <<div class="contenedor" *ngFor="let md of serviceModel">
                <div class="carousel-item active" >
                    <img src="../../assets/ta_models/{{md.imagen1}}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item " >
                    <img src="../../assets/ta_models/{{md.imagen2}}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item " >
                    <img src="../../assets/ta_models/{{md.imagen3}}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item " >
                    <img src="../../assets/ta_models/{{md.imagen4}}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item " >
                    <img src="../../assets/ta_models/{{md.imagen5}}" class="d-block w-100" alt="...">
                </div>
            </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
</body>
</html>
