<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="contenedorTitulo">
        <h1>FORMULARIO DE REGISTRO</h1>
    </div>
    <div class="contenedorPrincipal">
        <div class="contenedorFormulario">
            <form action="">
                <div class="contenedorGrupo">
                    <label for="inputNombres">Nombres: </label>
                    <input type="text" name="inputNombres">
                </div>
                <div class="contenedorGrupo">
                    <label for="inputApellidos">Apellidos: </label>
                    <input type="text" name="inputApellidos">
                </div>
                <div class="contenedorGrupo">
                    <label for="selectID">Tipo de Identificación</label>
                    <select name="selectID" id="">
                        <option value="CC">CC - Cedula de ciudadania</option>
                        <option value="TI">TI - Tarjeta de identidad</option>
                        <option value="PS">PS - Pasaporte</option>
                    </select>
                </div>
                <div class="contenedorGrupo">
                    <label for="inputID">Identificación: </label>
                    <input type="text" name="inputID">
                </div>
                <div class="contenedorGrupo">
                    <label for="inputEmail">Correo Electrónico:</label>
                    <input type="email" name="inputEmail">
                </div>
                <div class="contenedorGrupo">
                    <button type="submit">Ingresar</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
